.menu {
  width: 30%;
  display: flex;
  justify-content: flex-end; }

.menu__list {
  list-style: none;
  display: flex;
  justify-content: space-between; }

.menu__list-item {
  width: 30%; }

.menu__link {
  color: #fff;
  text-decoration: none; }
